.moony {
    background-color: orange;
}

input {
    background-color: violet;
    text-align: center;
}

img {
 position:absolute; 
 top:400px; 
 left:100px;
}

.two {
 position:absolute; 
 top:500px; 
 left:100px;   
}

.bone {
  background-color: blue;
  text-align: center;
}

#img1 {
   position: absolute;
  top: 100px;
  left: 100px;
  width: 100px;
  height: 100px;
}

h3 {
	font-size: 30px;
	color: white;
	padding-left: 10px;
	line-height: 30px;
}
span {
	display: inline;
	background-color: #FE8020;
	box-shadow: -10px 0 0 #FE8020, 10px 0 0 #FE8020;
	padding: 10px 0;
	color: #FFFFFF;
	font-size: 45px;
}

#div1{
  display: none;
  background-color: orange;
}

.to {
  top: 1000000px;
  left: 1000000000px;
  width: 50px;	
}

.cam {
  background-color: forestgreen;
  text-align: center;	
}

.wont {
   position:absolute; 
  top:700px; 
  left:100px;
}

.tdo {
  top: 100050px;
  left: 100000050px;
  width: 50px;	
}
